.settings/
.vscode/

*~

*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.elf
*.hex
*.a
*.lo
*.la

.libs/
NRswitchg
addedgeg
addptg
amtog
ancestorg
assembleg
biplabg
catg
complg
config.log
config.status
converseg
copyg
countg
countneg
cubhamg
deledgeg
delptg
dimacs2g
directg
distgraphg
dreadnaut
dretodot
dretog
edgetransg
genbg
genbgL
geng
gengL
genktreeg
genposetg
genquarticg
genrang
genspecialg
gentourng
gentreeg
hamheuristic
labelg
linegraphg
listg
multig
nbrhoodg
newedgeg
pickg
planarg
productg
ranlabg
ransubg
shortg
showg
subdivideg
twohamg
underlyingg
uniqg
vcolg
watercluster2

confdefs.*
libtool
gtools.h
nauty.h
makefile

dreadnaut.js
*.wasm
